[Unit]
Description=tailscale routing helper

[Service]
Type=notify

MountAPIVFS=true
DynamicUser=true
SupplementaryGroups=systemd-journal
RemoveIPC=true
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true
SystemCallFilter=@system-service
SystemCallFilter=~@resources
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
TasksMax=256
RestrictAddressFamilies=AF_UNIX AF_NETLINK
UMask=0077
ProtectProc=invisible
ProcSubset=pid
IPAddressDeny=any

Environment=CONFIG_PATH=/etc/tailscale-router/config.toml
ExecStart=/usr/local/bin/tailscale-router

Restart=always

[Install]
WantedBy=multi-user.target
